In [1]:
import pandas as pd

In [2]:
SRM = pd.read_csv('SRM23_encoded.csv')
SRM

   Created Date  Attendance Count
0    2023-01-30                 1
1    2023-02-17                 1
2    2023-02-24                 3
3    2023-02-27                28
4    2023-02-28                 1
..          ...               ...
70   2023-06-08                 2
71   2023-06-29                27
72   2023-07-04                21
73   2023-07-17                 5
74   2023-07-18                 1

[75 rows x 2 columns]

In [6]:
df = SRM.iloc[:60]
df

   Created Date  Attendance Count
0    2023-01-30                 1
1    2023-02-17                 1
2    2023-02-24                 3
3    2023-02-27                28
4    2023-02-28                 1
5    2023-03-01                 1
6    2023-03-02                88
7    2023-03-03                31
8    2023-03-04                 2
9    2023-03-05                 2
10   2023-03-06                15
11   2023-03-07                26
12   2023-03-08                 6
13   2023-03-09                 9
14   2023-03-10                 4
15   2023-03-11                 2
16   2023-03-12                 3
17   2023-03-13                 3
18   2023-03-14                 5
19   2023-03-15                 4
20   2023-03-16                 5
21   2023-03-17                 1
22   2023-03-19                 1
23   2023-03-20                 4
24   2023-03-21                 3
25   2023-03-24                 3
26   2023-03-27                 2
27   2023-03-30                 2
28   2023-03-31                 3
29   2023-04-03                 3
30   2023-04-04                 1
31   2023-04-05                 1
32   2023-04-12                 1
33   2023-04-13                 2
34   2023-04-15                 1
35   2023-04-18                 1
36   2023-04-20                 5
37   2023-04-21                 5
38   2023-04-22                 1
39   2023-04-24                 6
40   2023-04-25                 1
41   2023-04-26                 4
42   2023-05-02                12
43   2023-05-03                 4
44   2023-05-04                 7
45   2023-05-07                 1
46   2023-05-09                 7
47   2023-05-12                11
48   2023-05-15                14
49   2023-05-16                10
50   2023-05-17                19
51   2023-05-18                25
52   2023-05-19                11
53   2023-05-20                 2
54   2023-05-21                 3
55   2023-05-22                18
56   2023-05-23                65
57   2023-05-24                69
58   2023-05-25                18
59   2023-05-26                 8

In [7]:
df.to_csv('SRM23_test3_encoded.csv', index = None)